.footer {
  padding: 0 3rem;
  background-color: #ff6347;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  bottom: 0;
  height: 460px;
}
.footer-popup {
  width: 700px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0 5px 10px #eee;
}

.footer-header-box {
  align-items: center;
}
.footer-header {
  padding: 3rem 0 1.5rem 0;
}
.footer-text {
  text-align: center;
}
#footer-newsletter {
  text-align: center;
  border: 1px solid;
  width: 30%;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: #ff6347;
  background-color: white;
  border-radius: 90px;
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
#footer-newsletter:hover {
  background-color: #0000ff;
  /* color: white; */
  font-size: x-large;
  padding: 0.5rem 0;
}
.links {
  padding: 0 2rem;
}
.footer-subscribe-box {
  border: 1px solid white;
  padding: 1rem 0;
  margin: 1rem 0;
  width: inherit;
}
#email-subscribe-field {
  width: 260px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 10px 0;
  top: 35px;
  border-radius: 9px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#email-subscribe-field:focus {
  background-color: #eee;
  width: 70%;
}
