.flex {
  display: flex;
}
.img_size {
  width: 200px;
  height: 200px;
}
.align-text {
  text-align: center;
  font-size: 16px;
  width: 180px;
}

.float-left {
  float: left;
}
.movies-gallery {
  position: relative;
  margin-left: 3rem;
}
.spinner-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.table,
.align-center {
  position: relative !important;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}
.suggested-movies-section {
  position: relative !important;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  min-height: fit-content;
  border-top: 1px solid #ff6347;
}
.videoPlaceholder {
  width: 12.5rem;
  height: 14.5rem;
  border: 1px solid #eee;
  box-shadow: 0 5px 10px black;
  text-align: center;
  padding: 0.9375rem;
  margin: 0.9375rem;
}
.filter-movies-component {
  margin-right: 2rem;
  float: left;
  /* padding: 0 1rem; */
  padding-top: 1rem;
  text-align: justify;
  /* border: 1px solid green; */
}
.menu-items {
  border: 1px solid #ff6347;
  width: 100%;
  margin-bottom: 0 !important;
  padding: 1.5rem;
  cursor: pointer;
}
.active-link-bg {
  background: #ff8069;
  border: 1px solid #ff6347;
  cursor: pointer;
  padding: 1.5rem;
  margin-bottom: 0 !important;
}
.active-link-submenu-bg {
  background: #ff9d8b;
  border: 1px solid #ff6347;
  cursor: pointer;
  padding: 0.6rem;
  margin-bottom: 0 !important;
}
td,
tr {
  border: 1px solid black;
}
#checklist {
  margin: 1.5rem;
}
.movie-title-style {
  color: #ff6347;
}
