.flex {
  display: flex;
}
.img_size {
  width: 200px;
  height: 200px;
}
.align-text {
  text-align: center;
  font-size: 16px;
  width: 180px;
}

.float-left {
  float: left;
}
.search-icon-box {
  position: relative;
  border: 1px solid rgb(0, 132, 255);
  border-radius: 20px;
  width: 250px;
}
.search-icon {
  position: absolute;
  top: 8px;
  right: 10px;
}

.text-input {
  margin-left: 25px !important;
  border-style: none !important;
  outline: none !important;
}
.text-input:focus {
  border: none !important;
  border-style: none !important;
  outline: none !important;
}
