.sub-heading {
  padding: 0.9375rem 0rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
.search-icon-box {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(0, 132, 255);
  border-radius: 20px;
  width: 500px;
  margin-bottom: 2rem;
}
.search-icon .add-padding {
  position: absolute;
  top: 8px;
  right: 10px;
}

.text-input {
  margin-left: 25px !important;
  border-style: none !important;
  outline: none !important;
  width: 90%;
}
.text-input:focus {
  border: none !important;
  border-style: none !important;
  outline: none !important;
}

.table,
.align-center {
  position: relative !important;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.add-movies-btn {
  position: absolute;
  display: flex;
  text-align: center;
  padding: 15px 45px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  border-radius: 90px;
  background: transparent;
  border: 5px solid #ff8069;
  box-shadow: 4px 4px 5px #eeeeee;
}
.add-movies-btn:hover {
  background: #ff6347;
  color: white;
  box-shadow: 4px 4px 5px #9e756b;
  border: 2px solid white;
  transition: ease-out;
}

.add-padding {
  padding: 1rem 0;
}
#search-table{
  margin-bottom: 8rem;
}
